* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.global-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.dvm-link {
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1 rem;
}